appdirs
arrow
atomicwrites
black
brotlipy
certifi
click
cycler
docopt
entrypoints
Flask
fonttools
gunicorn
inflection
itsdangerous
kiwisolver
MarkupSafe
matplotlib
mccabe
mistune
mypy-extensions
pandas
pathspec
Pillow
pipreqs
pyls-spyder
python-lsp-jsonrpc
python-lsp-server
pytz
Werkzeug
scikit-learn
flask_cors
